body {
    margin: 0px;
}

.header
{
    height: 100px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-h1{
    margin-left: 50px;
}

.content
{
}