body {
    margin: 0px;
}

.header {
    height: 100px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-h1 {
    margin-left: 50px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 500px;
}

.addToDoItemForm {
    display: flex;
    flex-direction: column;
}

.addToDoItemForm-submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.addToDoItemForm-submit button{
    width: 50px;
}

.addToDoItemRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0 5px 0
}

.addToDoItemRow label{
    width: 100%;
}

.addToDoItemRow-input {
    border: none;
    border-bottom: 2px solid #CCCCCC
}

.addToDoItemRow-input, input:focus {
    outline: none;
}

.addToDoItemRow-textarea {
    border: none;
    border-bottom: 2px solid #CCCCCC;
    height: 100px;
    line-height: 14px;
}

.calendar-container {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
}

.calendar-exit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
}

.calendar-exit {
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    width: 25px;
    height: 25px;
}
