body {
    margin: 0px;
}

.test {
    background-color: red;
    width: 1000px;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    height: 100px;
    font-family: 'Agency FB';
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-h1 {
    margin-left: 50px;
}

.header-h1-green {
    color: green;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 700px;
}

.addToDoItemForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.addToDoItemForm-hidden {
    display: none;
}

.addToDoItemForm-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.addToDoItemForm-submit-input{
    width: 100px;
    border:none;
    border-bottom: 2px solid green;
    background-color:white;
    font-size:24px;
}

.addToDoItemForm-update-input {
    width: 100px;
    border: none;
    border-bottom: 2px solid orange;
    background-color: white;
    font-size: 24px;
}

.addToDoItemForm-cancel-input {
    width: 100px;
    border: none;
    border-bottom: 2px solid red;
    background-color: white;
    font-size: 24px;
}

.addToDoItemRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0 5px 0
}

.addToDoItemRow label{
    width: 100%;
}

.addToDoItemRow-input {
    border: none;
    border-bottom: 2px solid #CCCCCC
}

.addToDoItemRow-input, input:focus {
    outline: none;
}

.addToDoItemRow-textarea {
    border: none;
    border-bottom: 2px solid #CCCCCC;
    height: 100px;
    line-height: 14px;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.filter-hidden {
    display: none;
}

.filter-item{
    display: flex;
    flex-direction:column;
}

.list{
    display:table;
    width: 100%;
}

.list-hidden{
    display:none;
}

.list-column-done {
    width: 30px;
    max-width: 30px;
}

.list-column-title{
    width: 150px;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}


.list-column-description {
    width: 250px;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-column-dueDate {
    width: 50px;
    max-width: 50px;
}

.list-column-delete {
    width: 75px;
    max-width: 75px;
}

.list-cell-delete {
    background-color: white;
    color: red;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.list-column-edit {
    width: 45px;
    max-width: 45px;
}

.list-cell-edit {
    background-color: white;
    color: orange;
    font-size: 20px;
    border: none;
    cursor: pointer;
}