body {
    margin: 0px;
}

.header {
    height: 100px;
    font-family: 'Agency FB';
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    margin-left: 50px;
}


.header-green {
    color: green;
}


.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 700px;
}


.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-hidden {
    display: none;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.form-buttons-submit{
    width: 100px;
    border: none;
    border-bottom: 2px solid green;
    background-color: white;
    font-size: 24px;
}

.form-buttons-update {
    width: 100px;
    border: none;
    border-bottom: 2px solid orange;
    background-color: white;
    font-size: 24px;
}

.form-buttons-cancel {
    width: 100px;
    border: none;
    border-bottom: 2px solid red;
    background-color: white;
    font-size: 24px;
}

.form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0 5px 0
}

.form-row label{
    width: 100%;
}

.form-textarea {
    height: 100px;
    line-height: 14px;
}


.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 100%;
}

.filter-hidden {
    display: none;
}

.filter-item{
    display: flex;
    flex-direction:column;
}

filter-item-date {
    width: 100px;
}

.list{
    display:table;
    width: 100%;
}

.list-hidden{
    display:none;
}

.list-column-done {
    width: 30px;
    max-width: 30px;
}

.list-column-title{
    width: 150px;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-column-description {
    width: 250px;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-column-dueDate {
    width: 50px;
    max-width: 50px;
}

.list-column-delete {
    width: 75px;
    max-width: 75px;
}

.list-cell-delete {
    background-color: white;
    color: red;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.list-column-edit {
    width: 45px;
    max-width: 45px;
}

.list-cell-edit {
    background-color: white;
    color: orange;
    font-size: 20px;
    border: none;
    cursor: pointer;
}