.login-form-container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container input {
    width: 300px
}

.form-buttons{
    width:300px;
    margin-top:70px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.form-buttons input{
    cursor: pointer;
    color: black;
    background-color: white;
    font-size: 18px;
    padding: 0px;
}

.buttons-login {
    text-align: right;
    border:none;
    border-bottom: 1px green solid;
}

.buttons-register {
    text-align: left;
    border: none;
    border-bottom: 1px blue solid;
}

.errors{
    position: relative;
    display: flex;
    flex-direction: column;
    height:20px;
    width: 300px;
}

.errors span{
    position:absolute;
    top: 10px;
}