.default-input {
    border: none;
    border-bottom: 2px solid #CCCCCC;
    height: 23px
}

.default-input:focus{
    outline: none;
    border-bottom: 2px solid green;
    transition: all ease-in 0.4s;
}
