.calendar-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
}

.calendar-container-hidden{
    display:none;
}

.calendar-exit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
}

.calendar-exit {
    background-color: black;
    color: white;
    font-size: 25px;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration:none;
    text-align: center;
}

.calendar-values{
    display:flex;
    flex-direction:row;
}

.calendar-values-trigger {
    width: 20px;
    color: green;
    font-size: 20px;
    border-bottom: 2px solid #CCCCCC;
}
